@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root{
    --rosa: #df4c82;
    --rosaescuro:hsl(338, 73%, 50%);
    --preto: #000000;
    --cinza: #7C7C7C;
    --branco: #ffffff;
}


*, *::after, *::before{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    text-decoration: none;
}

.logoAndButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--rosa);
}

.logoAndButtons button{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100px;
    background-color: var(--rosaescuro);
}

.logoAndButtons button:hover{
    background-color: var(--rosa);
    font-weight: bold;
}

.logo {
    width: 320px;
    height: auto;
}

main{
    background-color: hsl(338, 73%, 80%);
    /* background-image: url("../assets/img/zyro-image.png");
    background-repeat: no-repeat;
    background-position-y: 50%; */
}

nav {
    background-color: var(--rosa);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px;
}

nav ul li:hover{
    background-color: var(--rosaescuro);
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
}

nav ul li a,nav ul li a:hover {
    color: var(--preto);
    text-decoration: none;
}



iframe{
    max-width: 100%;
}


.acompanhantes{
    display: flex;
}

footer{
    background-color: var(--rosaescuro);
}

